<%- include('include/_header')%>

<main id="site-main">
    <div class="container">
     <div><h1 > Your Quote</h1></div>
        <div method="POST" id="show_q"></div>    
 
</div>
</main>

<%- include('include/_footer')%>