
<form action="/api/users" id="add_user" method="POST">
    <input type="text" name="Name" placeholder="Enter Your Name" required>
   
    <textarea name="Message"  rows="6" placeholder="Enter Quotes"></textarea>
    <button type="submit" class="btn btn2">Submit</button>
    
</form>